
<h1 >castle Name: {{vm.castleName}}</h1><!--ng-app="sandCastle"-->
<!--Manual score control <input type="text" ng-model="vm.score">-->
<!--<div id = "infoDisplay">
  <h2>Score:{{vm.score}}</h2>
  <h2>Workers:{{vm.workNum}}</h2><input type="button"value="Train Worker" ng-click="vm.TrainWorker()">
  <h2>Farms:{{vm.farms}}</h2><input type="button"value="Build farm" ng-click="vm.BuildFarm()">
  <h3>Farmers:{{vm.farmers}}</h3><input type="button"value="Train Farmers" ng-click="vm.TrainFarmers()">
  <h3>Food:{{vm.food}}</h3>
  <h4>production speed:{{vm.farmRate}}</h4>
  <h4>consumption speed:{{vm.consumption}}</h4>
  <h2>Masons:{{vm.masons}}</h2>
  <h2>Craftsmen:{{0}}</h2>
</div>-->
<castle-Info-Display></castle-Info-Display>
<castle></castle>
